<template>
    <div  id="footer">
          <p>2019 &copy; Magdalena Kamińska - Lingo Lab.  Wszelkie prawa zastrzeżone.</p>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i&display=swap&subset=latin-ext');
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap&subset=latin-ext');

  #footer {
    background-color: #BEBEBE;
    font-size: 15px;
    color: #4C4C4C;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 100%;
    height: 40px;
    display: block;
  }


</style>
