<template>
  <div id="header">
    <div class="row">
      <div id="logo" class="col-lg-4">
        <img width="210" height="70" src="../../assets/LingoLabLogo.png">
      </div>
      <div id="rest" class="col-lg-4">
        <div id="mail">
          <p><img src="../../assets/HeaderIcons/baseline-email-black-18/2x/baseline_email_black_18dp.png">
            lingolab.office@gmail.com</p>
        </div>
      </div>
      <div id="test" class="col-lg-3">
        <div id="phone">
          <p ><img
            src="../../assets/HeaderIcons/baseline-local_phone-black-18/2x/baseline_local_phone_black_18dp.png"> +48
            603 967 651</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
        name: "Header"
    }

</script>


<style scoped>


  @import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');
  @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap&subset=latin-ext');
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap&subset=latin-ext');



  #header {
    width: 100%;
    vertical-align: middle;
    background-color: white;
  }

  #logo {
    margin-top: 2%;
    margin-left: 2%;
    float: left;
    text-align: center;
  }

  #rest {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    vertical-align:middle;
  }

  #mail {
    float: right;
    min-width: 350px;
    display: block;
    text-align: center;
    color: #00104f;
  }

  #phone{
    float: right;
    min-width: 350px;
    display: block;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #00104f;
  }

  #test {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 100%;
  }

  .btn-outline-dark {
    min-width: 100px;
  }

</style>
