<template>
  <div id="navbar">
    <div class="row">
      <div class="col">
        <div class="irregullarL">
          <router-link to="/" tag="none">
            <p>HOME</p>
          </router-link>
        </div>
      </div>
      <div class="col">
        <div class="regular">
          <router-link to="/AboutMe" tag="none">
            <p>O SZKOLE</p>
          </router-link>
        </div>
      </div>
      <div class="col">
        <div class="regular">
          <router-link to="/Courses" tag="none">
            <p>KURSY</p>
          </router-link>
        </div>
      </div>
      <div class="col">
        <router-link to="/Contact" tag="none">
          <div class="regular">
            <p>KONTAKT</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap&subset=latin-ext');

  #navbar{
    position: sticky;
    top: 0;
  }

  .col {
    width: 100%;
    display: block;
    padding: 0.00000001px;
    margin-top: 2px;
    border-right: #00104f 4px solid;

  }

  .irregullarL {
    border-bottom: 45px solid #00104f;
    border-left: 50px solid transparent;
    height: 0;
    min-width: 150px;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }

  .regular {
    border-bottom: 45px solid #00104f;
    height: 0;
    min-width: 150px;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
  }

  .row {
    max-width: 70%;
    margin-left: auto;
    color: white;
  }

</style>
