<template>
  <div id="AboutMe">
    <Header></Header>
    <div id="navbar">
      <Navbar></Navbar>
    </div>
    <div id="Content">
      <br/><br/>
      <p>Lingo Lab to mała szkoła w małym mieście lecz z wielkimi aspiracjami, która powstała z pasji do języka
        angielskiego oraz z pasji do przekazywania wiedzy. Wykształcenie kierunkowe lektora, jego doświadczenie zawodowe
        oraz indywidualne cechy charakteru, takie jak otwartość, zaangażowanie czy komunikatywność, pozwalają na
        zaoferowanie wysokiej jakości zajęć w przyjaznej atmosferze, które są nie tylko efektywne, ale są również
        przyjemną formą spędzania czasu.</p>

      <br/>
      <p>Lingo Lab nie opiera się wyłącznie na jednej metodzie nauczania języków obcych lecz czerpie i łączy najbardziej
        efektywne oraz wartościowe elementy z różnych metod, co w połączeniu z nauką w małych grupach pozwala na
        indywidualne podejście do potrzeb i możliwości ucznia. Na zajęciach kładzie się nacisk przede wszystkim na
        komunikatywność – w Lingo Lab mówisz już od pierwszych zajęć.</p>

      <br/>
      <p>Wszyscy kursanci dostają podręcznik w cenie kursu oraz mogą korzystać z mini biblioteczki językowej. Raz w
        miesiącu zapraszamy na bezpłatne konsultacje, na których można np. nadrobić materiał z przegapionych zajęć.</p><br/><br/>
    </div>
    <div id="footer">
      <Footer></Footer>
    </div>
  </div>

</template>

<script>
    import Header from "./Main/Header";
    import Navbar from "./Main/Navbar";
    import Footer from "./Main/Footer";

    export default {
        name: "AboutMe",
        components: {Footer, Navbar, Header}
    }
</script>

<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap&subset=latin-ext');

  #AboutMe {
    overflow-x: hidden;
    display: block;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
  }

  #Picture {
    padding: 5%;
    float: left;
  }

  #Content {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 20px;
    flex: 1 0 auto;
    font-family: "Quicksand", sans-serif;
    width: 80%;
  }

  p {
    text-indent: 50px;
    font-size: 20px;
  }

  #footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }


</style>
