<template>
  <div id="Contact">
    <Header></Header>
    <div id="navbar">
      <Navbar></Navbar>
    </div>
    <div id="splitSpace">
      <div class="row">
        <div class="col">
          <div class="content">
            <p>Lingo Lab</p>
            <p>Góra ul. Piastów 6</p>
            <p>56-200 Góra</p>
            <p>+48 603 967 651</p>
          </div>
        </div>
        <div class="col">
          <div class="map">
            <img width="600" height="480" src="../assets/Piastow6.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Header from "./Main/Header";
    import Navbar from "./Main/Navbar";
    import Footer from "./Main/Footer";


    export default {
        name: "Contact",
        components: {Footer, Navbar, Header}
    }
</script>

<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

  #Contact {
    overflow-x: hidden;
  }

  #navbar {
  }

  .content {
    width: 100%;
    padding: 10px;
    text-align: center;
    float: left;
    margin: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    vertical-align: middle;
    transform: translateY(+50%);
  }


  .map {
    display: block;
    padding: 20px;
    margin: 10px;
    float: left;
  }

</style>
