<template>
  <div id="Courses">
    <div id="header">
      <Header></Header>
    </div>
    <div id="navbar">
      <Navbar></Navbar>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img class="coursesPic" width="300" height="180" src="../assets/Courses/Podstawowka.png">
            <div class="title">
              <p>Szkoła podstawowa</p>
              <div>
                <b-button variant="warning" v-b-modal.modal-center-1>Zobacz</b-button>
                <b-modal ok-only id="modal-center-1" size="lg" centered title="Szkoła Podstawowa">
                  <p class="my-4">Lingo Lab oferuje kursy języka angielskiego w małych 4-8 osobowych grupach. Grupy
                    dobierane są na
                    podstawie wieku oraz zaawansowania kursantów.</p>
                  <p class="my-4" id="paragraph">Dla młodszych dzieci proponujemy kurs języka angielskiego dopasowany do
                    indywidualnych
                    potrzeb „małych” kursantów poprzez wykorzystanie odpowiednich do wieku metod oraz gier i zabaw
                    językowych.</p>
                  <p>Mamy do zaoferowania zajęcia 60-minutowe raz w tygodniu.</p>
                  <p>Dla starszych dzieci proponujemy kurs Standard English rozwijający wszystkie cztery
                    sprawności
                    językowe: mówienie, słuchanie, czytanie (rozumienie tekstu) oraz pisanie z naciskiem na swobodną
                    komunikację w języku angielskim. </p>
                  <p>Proponujemy dwa warianty kursu: <br/>
                    - kurs standardowy: 90 minut raz w tygodniu<br/>
                    - kurs intensywny: 90 minut dwa razy w tygodniu</p>
                  <img class="coursesPic" width="300" height="180" src="../assets/Courses/Podstawowka.png">
                </b-modal>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="coursesPic" width="300" height="180" src="../assets/Courses/8-klasista.jpeg">
            <div class="title">
              <p>Egzamin 8-klasisty</p>
              <div>
                <b-button variant="warning" v-b-modal.modal-center-2>Zobacz</b-button>

                <b-modal ok-only id="modal-center-2" size="lg" centered title="Egzamin 8-klasisty">
                  <p class="my-4"> Dla wszystkich tegorocznych ósmoklasistów Lingo Lab proponuje kurs przygotowujący do
                    egzaminu, który oparty jest o aktualne podręczniki opracowane na podstawie wytycznych MEN oraz
                    szereg materiałów dodatkowych specjalnie przygotowanych pod kątem egzaminu ósmoklasisty.</p>
                  <p class="my-4">Lingo Lab oferuje kursy języka angielskiego w małych 4-8 osobowych grupach.</p>
                  <p class="my-4">Proponujemy dwa warianty kursu: <br/>
                    - kurs standardowy: 90 minut raz w tygodniu <br/>
                    - kurs intensywny: 90 minut dwa razy w tygodniu</p>
                  <img class="coursesPic" width="300" height="180" src="../assets/Courses/8-klasista.jpeg">
                </b-modal>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="coursesPic" width="300" height="180" src="../assets/Courses/LO.jpeg">
            <div class="title">
              <p>Szkoła średnia</p>
              <div>
                <b-button variant="warning" v-b-modal.modal-center-3>Zobacz</b-button>

                <b-modal ok-only id="modal-center-3" size="lg" centered title="Szkoła Średnia">
                  <p class="my-4">Dla uczniów szkół średnich Lingo Lab oferuje kurs Standard English rozwijający
                    wszystkie cztery sprawności językowe: mówienie, słuchanie, czytanie (rozumienie tekstu) oraz pisanie
                    - z naciskiem na swobodną komunikację.</p>
                  <p class="my-4">Lingo Lab oferuje kursy języka angielskiego w małych 4-8 osobowych grupach.</p>
                  <p class="my-4">Proponujemy dwa warianty kursu: <br/>
                    - kurs standardowy: 90 minut raz w tygodniu <br/>
                    - kurs intensywny: 90 minut dwa razy w tygodniu</p>
                  <img class="coursesPic" width="300" height="180" src="../assets/Courses/LO.jpeg">
                </b-modal>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="coursesPic" width="300" height="180" src="../assets/Courses/Matura.jpeg">
            <div class="title">
              <p>Matura</p>
              <div>
                <b-button variant="warning" v-b-modal.modal-center-4>Zobacz</b-button>

                <b-modal ok-only id="modal-center-4" size="lg" centered title="Matura">
                  <p class="my-4">Dla wszystkich tegorocznych maturzystów Lingo Lab proponuje kurs przygotowujący do
                    egzaminu, który oparty jest o aktualne podręczniki opracowane na podstawie wytycznych MEN oraz
                    szereg materiałów dodatkowych specjalnie przygotowanych pod kątem egzaminu maturalnego.</p>
                  <p class="my-4">Lingo Lab oferuje kursy języka angielskiego w małych 4-8 osobowych grupach.</p>
                  <p class="my-4">Proponujemy dwa warianty kursu: <br/>
                    - kurs standardowy: 90 minut raz w tygodniu <br/>
                    - kurs intensywny: 90 minut dwa razy w tygodniu</p>
                  <img class="coursesPic" width="300" height="180" src="../assets/Courses/Matura.jpeg">
                </b-modal>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="coursesPic" width="300" height="180" src="../assets/Courses/Dorosli.jpeg">
            <div class="title">
              <p>Dorośli</p>
              <div>
                <b-button variant="warning" v-b-modal.modal-center-5>Zobacz</b-button>

                <b-modal ok-only id="modal-center-5" size="xl" centered title="Dorośli">
                  <p class="my-4">W ofercie dla dorosłych Lingo Lab posiada dwa kursy: <br/><br/>
                    <b>- Standard English</b> – dla wszystkich , którzy chcą rozwinąć wszystkie cztery sprawności
                    językowe:
                    mówienie, słuchanie, czytanie (rozumienie tekstu), pisanie - z naciskiem na swobodną komunikację i
                    praktyczne aspekty języka przydatne w życiu codziennym, np. w pracy, w czasie wyjazdów wakacyjnych.
                  </p>
                  <p class="my-4">Proponujemy dwa warianty kursu:<br/>
                    - kurs standardowy: 90 minut raz w tygodniu <br/>
                    - kurs intensywny: 90 minut dwa razy w tygodniu</p>
                  <p class="my-4"><b>- Kurs konwersacyjny</b> – dla osób, którym szczególnie zależy na opanowaniu
                    umiejętności
                    swobodnego porozumiewania się w języku angielskim.</p>
                  <p class="my-4">Proponujemy jeden wariant kursu:<br/>
                    - 60 minut raz w tygodniu</p>
                  <img class="coursesPic" width="300" height="180" src="../assets/Courses/Dorosli.jpeg">
                </b-modal>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="coursesPic" width="300" height="180" src="../assets/Courses/Business.jpeg">
            <div class="title">
              <p>Klienci biznesowi</p>
              <div>
                <b-button variant="warning" v-b-modal.modal-center-6>Zobacz</b-button>

                <b-modal ok-only id="modal-center-6" size="lg" centered title="Język w biznesie">
                  <p class="my-4">Lingo Lab oferuje kursy Standard English oraz Business English w formie zajęć
                    grupowych bądź indywidualnych, które mogą odbywać się w siedzibie klienta. </p>
                  <p class="my-4">Forma kursu jest dopasowana do indywidualnych potrzeb klienta.</p>
                  <img class="coursesPic" width="300" height="180" src="../assets/Courses/Business.jpeg">
                </b-modal>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <b-button id="buttonL" squared v-b-modal.modal-center-7>RABATY</b-button>
      <b-modal ok-only id="modal-center-7" size="lg" centered title="Rabaty">
        <p class="my-4">Specjalnie dla Ciebie Lingo Lab przygotowało nastepujące rabaty: </p>
        <p class="my-4"> - <b>Wyjątkowy rabat z okazji otwarcia szkoły (obowiązuje do końca września 2019)</b>,</p>
        <p class="my-4"> - <b>Rabat Rodzinny</b> - dla drugiej i każdej następnej osoby z najbliższej rodziny
          (rodzeństwo, rodzice), </p>
        <p class="my-4"> - <b>U2</b> - rabat za przyprowadzenie kolejnej osoby do Lingo Lab,</p>
        <p class="my-4"> - <b>Płatność z góry</b> - rabat związany z opłaceniem kursu w dwóch ratach semestralnych, bądź
          jednej całorocznej.</p>
        <p class="special">Więcej informacji pod numerem: <b>603 967 651</b></p>
      </b-modal>
    </div>
    <b-button id="buttonR" squared v-b-modal.modal-xl>KALENDARZ LINGO LAB</b-button>
    <div>
      <b-modal ok-only id="modal-xl" size="lg" class="align-content-xl-center" centered title="KALENDARZ LINGO LAB">
        <div id="modalImg">
          <img width="620" height="480" src="../assets/Courses/kalendarz.jpg">
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>

    import Header from "./Main/Header";
    import Navbar from "./Main/Navbar";


    export default {
        name: "Courses",
        components: {Navbar, Header},

    }

</script>

<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap&subset=latin-ext');

  #Courses {
    overflow-x: hidden;
  }

  #navbar {
    background-color: white;
    position: sticky;
    top: 0;
  }


  .special {
    text-align: center;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
    min-width: 350px;
    font-family: 'Quicksand', sans-serif;

  }

  .coursesPic {
    float: right;
    margin-top: 15px;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    text-align: center;
    padding: 10px 20px;
    font-size: 24px;
  }

  #buttonL {
    display: block;
    width: 50%;
    border: none;
    background-color: #00104f;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    float: left;
  }

  #buttonL:hover {
    background-color: #ddd;
    color: black;
  }

  #buttonR {
    display: block;
    width: 50%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    float: right;
  }

  #buttonR:hover {
    background-color: #ddd;
    color: black;
  }

  #modalImg {
    text-align: center;
    min-width:620px;
  }

  .my-4 {
    text-align: justify;
  }

  #paragraph {
    text-indent: 30px;
  }

</style>
