<template>
  <div id="Home">
    <Header></Header>
    <div id="navbar">
      <Navbar></Navbar>
    </div>
    <div id="slideshow">
      <agile :nav-buttons="false"
             :dots="false"
             :autoplay="true"
             :autoplay-speed="5000"
             :infinite="true"
             :pause-on-hover="true">
        <div class="slide">
          <img src="../assets/Home/billboard.png">
        </div>
        <div class="slide">
          <img src="../assets/Home/call-min.jpg">
        </div>
      </agile>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>

    import {VueAgile} from 'vue-agile'
    import Header from "./Main/Header";
    import Navbar from "./Main/Navbar";
    import Footer from "./Main/Footer";

    export default {
        components: {Footer, Navbar, Header, agile: VueAgile}

    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap&subset=latin-ext');

  #Home {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: block;
  }

  img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #slideshow{
    padding-top: 10px;
  }


</style>
