<template>
  <div id="Test">
    <Header></Header>
    <div id="navbar">
      <Navbar></Navbar>
    </div>
    <div id="content">

      <Footer></Footer>
    </div>
  </div>
</template>

<script>
    import Header from "../Main/Header";
    import Navbar from "../Main/Navbar";
    import Footer from "../Main/Footer";

    export default {
        name: "Test",
        components: {Footer, Navbar, Header}
    }
</script>

<style scoped>

  #Test {
    overflow-x: hidden;
  }

  #navbar {
    background-color: #46d4db;
  }

</style>
